.scrollup {
    position: fixed;
    right: 3.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem;
    border-radius: 50%;
    z-index: var(--z-tooltip);
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the content vertically */
}

.scrollup__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center the icon vertically and horizontally */
    width: 100%;
    height: 100%;
}

.scrollup__icon svg {
    font-size: 2.5rem;
    color: var(--container-color);
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

.show-scroll {
    bottom: 3rem;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .scrollup {
        right: 1.5rem;
        /* padding: 0.25rem 0.4rem; */
    }

    .scrollup__icon svg {
        font-size: 2.25rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .show-scroll {
        bottom: 4rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    .scrollup {
        right: 1rem;
    }
}